@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Nunito&family=Saira&family=Titillium+Web&display=swap");
.inconsolata {
  font-family: "Inconsolata", monospace;
}
.nunito {
  font-family: "Nunito", sans-serif;
}
.saira {
  font-family: "Saira", sans-serif;
}
.titillium {
  font-family: "Titillium Web", sans-serif;
}
