body {
  background-color: lightgrey;
  margin: 0;
  overflow-y: scroll;
}

.title {
  font-family: "MuseoModerno", cursive;
}

.container {
  margin: 6rem 8rem;
  display: flex;
  flex-direction: row;
}

.flashcard-grid {
  margin: 2vh;
  display: flex;
  flex-direction: column;
}

.mockGrid {
  margin-left: 12vw;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: khaki;
  padding: 0 1.5rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 2;
  top: 0px;
  width: 100vw;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.form-group > label {
  color: #777;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.btn {
  background-color: hsl(200, 100%, 50%);
  padding: 0.5em 1em;
  border-radius: 0.3em;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: cornflowerblue;
  transition: all 0.5s ease 0s;
}

.card-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  transform-style: preserve-3d;
  transition: 500ms;
  background-color: white;
  cursor: pointer;
  transform: perspective(200px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.card.flip {
  --rotate-y: 180.00001deg;
}

.card .front,
.card .back {
  grid-area: 1 / 1 / 2 / 2;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .front {
  left: 0;
}

.card .back {
  transform: rotateY(180deg);
}

.flashcard-options {
  margin-top: 0.5rem;
}

.flashcard-option {
  margin-top: 0.25rem;
  color: #555;
  font-size: 0.75rem;
}

.flashcard-option:first-child {
  margin-top: 0;
}
